hprof_analysis/
*/**/*.iml
*.iml
.gradle
.local.properties
.idea/
.DS_Store
/build
# files for the dex VM
*.dex

# Java class files
*.class

# Intellij project files
*.ipr
*.iws

.project
.classpath
.settings
